html
	head
		title Bunkmate Matcher 	
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name="author", content="Teri Chadbourne")
		meta(charset="UTF-8")
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
	body
		header
			h1 &#x1f6cf; Bunkmate Matcher &#x1f6cf;
		main
			p Although everyone gets their own bed at Offline Camp, almost everyone has roommates. The details provided here allow us to match up suitable bunkmates. 

			block content

		script(src='/javascripts/jquery-3.2.1.js')
		script(src='/javascripts/formValidation.js')
