
<!--   <app-new-camper>
    refreshes camper list when new camper event received
   (newCamperEvent)="refreshCamperList()">
  </app-new-camper> -->


<!-- loops through camper records and prints to page, sorted by type of cabin needed -->

<div class='box'>
  <h2>Current Campers ({{campers.length}})</h2>

  <button *ngIf="!breakdown" (click)="showBreakdown(true)">Show Camper Breakdown</button>
  <button *ngIf="breakdown" (click)="showBreakdown(false)">Hide Camper Breakdown</button>
  <button (click)="newCamper()">Add New Camper</button>

  <div *ngIf="breakdown" class='box'>
    <h3>Camper Breakdown</h3>
    <p><strong>Total Campers: {{campers.length}}</strong></p>
    <p><strong>Counts by Gender:</strong></p>
    <ul class='key'>
      <li class='female'>Female Camper ({{femaleCampers.length}})</li>
      <li class='nonbinary'>Non-Binary Camper ({{nonbinaryCampers.length}})</li>
      <li class='male'>Male Camper ({{maleCampers.length}})</li>
    </ul>
    <p><strong>Counts by Cabin Preference:</strong></p>
    <ul class='key'>
      <li class='femaleCabin female'>Female Cabin ({{femaleCabin.length}})</li>
      <li class='coedCabin female'>Co-Ed or Female Cabin ({{coedFemaleCabin.length}})</li>
      <li class='coedCabin nonbinary'>Coed Cabin ({{coedCabin.length}})</li>
      <li class='coedCabin male'>Co-Ed or Male Cabin ({{coedMaleCabin.length}})</li>
      <li class='maleCabin male'>Male Cabin ({{maleCabin.length}})</li>
    </ul>
  </div>

  <ul>
    <app-campers *ngFor="let thisCamper of femaleCabin"
      [camper] = "thisCamper">
    </app-campers>

    <app-campers *ngFor="let thisCamper of coedFemaleCabin"
      [camper] = "thisCamper">
    </app-campers>

    <app-campers *ngFor="let thisCamper of coedCabin"
      [camper] = "thisCamper">
    </app-campers>

    <app-campers *ngFor="let thisCamper of coedMaleCabin"
      [camper] = "thisCamper">
    </app-campers>

    <app-campers *ngFor="let thisCamper of maleCabin"
      [camper] = "thisCamper">
    </app-campers>
  </ul>
</div>

